{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "chatapp/chat.css" %}">
</head>
<body>
    <div class="texting">
        {% for i in all_chats %}
        <p>
            {{ i }}
        </p>
        {% endfor %}
        <form action="" method="POST">
            {% csrf_token %}
            {{ chat_form }}
            <input type="submit" value="send" id="#submit">
        </form>
    </div>
</body>
</html>